openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to search for trending tickers and
    get ticker details.
  termsOfService: http://swagger.io/terms/
  title: TickerTrends API
  version: 2.1.0
paths:
  /api/v1/trending-tickers:
    get:
      description: Get ticker trend data
      parameters:
        - description: 'Time interval for aggregating trend data. Values: 10m (10
            minutes), 1h (1 hour), 1d (1 day)'
          in: query
          name: interval
          required: true
          schema:
            type: string
        - description: Comma-separated list of stock ticker symbols
          in: query
          name: tickers
          required: true
          schema:
            type: string
        - description: 'Data source filter. Values: all, clickstream, logo'
          in: query
          name: source
          required: true
          schema:
            type: string
        - description: Time window for trend analysis. Optional custom timeframe specification.
          in: query
          name: timeframe
          schema:
            type: string
        - description: Page number for pagination. Zero-indexed.
          in: query
          name: page
          schema:
            type: integer
        - description: 'Number of results per page. Default and Maximum: 1000'
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpapi.tickerTrendAPIResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Resp'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpapi.tickerTrendAPIResponse'
      security:
        - ApiKeyAuth: []
      summary: Get ticker trend data
      tags:
        - ticker-trends
  /api/v1/trending-tickers/list:
    get:
      description: Get ticker trend list data
      parameters:
        - description: Interval for the data
          in: query
          name: interval
          required: true
          schema:
            type: string
        - description: Comma separated list of tickers
          in: query
          name: tickers
          required: true
          schema:
            type: string
        - description: Source of the data
          in: query
          name: source
          required: true
          schema:
            type: string
        - description: Timeframe for the data
          in: query
          name: timeframe
          schema:
            type: string
        - description: Start time in 24-hour format (e.g., 09:15)
          in: query
          name: time_from
          required: true
          schema:
            type: string
        - description: End time in 24-hour format (e.g., 22:30)
          in: query
          name: time_to
          required: true
          schema:
            type: string
        - description: Start date in ISO 8601 format (e.g., 2024-12-30)
          in: query
          name: date_from
          required: true
          schema:
            type: string
        - description: End date in ISO 8601 format (e.g., 2024-12-30)
          in: query
          name: date_to
          required: true
          schema:
            type: string
        - description: Page number for pagination.
          in: query
          name: page
          schema:
            type: integer
        - description: Number of results returned. Limit 1000
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.TrendingTickersListAPIResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Resp'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.TrendingTickersListAPIResponse'
      security:
        - ApiKeyAuth: []
      summary: Get ticker trend list data
      tags:
        - ticker-trends
components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
  schemas:
    bzhttp.Error:
      properties:
        code:
          $ref: '#/components/schemas/bzhttp.ErrorCode'
        id:
          type: string
        value:
          type: string
      type: object
    bzhttp.ErrorCode:
      enum:
        - json_unmarshaling_error
        - no_data_found
        - no_matching_endpoint
        - bad_request
        - db_error
        - internal_server_error
        - auth_failed
        - forbidden
        - failed_dependency
        - service_unavailable
        - upstream_api_error
        - unsupported_message_type
        - database_query_error
      type: string
      x-enum-varnames:
        - ErrorJSONUnmarshaling
        - ErrorNoDataFound
        - ErrorNoMatchingEndpoint
        - ErrorBadRequest
        - ErrorDBError
        - ErrorInternalServerError
        - ErrorAuthFailed
        - ErrorForbidden
        - ErrorFailedDependency
        - ErrorServiceUnavailable
        - ErrorUpstreamAPIError
        - ErrorUnsupportedMessageType
        - ErrorDBQueryError
    bzhttp.Resp:
      properties:
        data:
          additionalProperties: true
          type: object
        errors:
          items:
            $ref: '#/components/schemas/bzhttp.Error'
          type: array
        ok:
          type: boolean
      type: object
    httpapi.tickerTrendAPIResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/httpapi.tickerTrendData'
          type: array
        ok:
          type: boolean
      type: object
    httpapi.tickerTrendData:
      properties:
        exchange:
          type: string
        metrics:
          items:
            $ref: '#/components/schemas/httpapi.tickerTrendMetrics'
          type: array
        ticker:
          type: string
      type: object
    httpapi.tickerTrendMetrics:
      properties:
        count:
          type: integer
        count_mavg:
          type: number
        market_count_average:
          type: number
        scaled_count:
          type: number
        scaled_count_mavg:
          type: number
        time_bucket:
          type: string
      type: object
    models.Security:
      properties:
        exchange:
          type: string
        name:
          type: string
        ticker:
          type: string
      type: object
    models.TrendingTickersListAPIResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/models.TrendingTickersListData'
          type: array
        ok:
          type: boolean
      type: object
    models.TrendingTickersListData:
      properties:
        count:
          type: integer
        pct_chg:
          type: integer
        security:
          $ref: '#/components/schemas/models.Security'
      type: object
servers:
  - url: https://api.benzinga.com/api/v1
    description: V1
