openapi: 3.0.0
info:
  contact: {}
  description: Esta API REST devuelve datos estructurados de artículos de noticias
    y comunicados de prensa.
  termsOfService: http://swagger.io/terms/
  title: News API
  version: 2.1.0
paths:
  /api/v2/news:
    get:
      description: Obtener noticias
      operationId: get-news
      parameters:
        - description: Símbolos bursátiles
          in: query
          name: tickers
          schema:
            type: string
        - description: Identificadores CUSIP
          in: query
          name: cusips
          schema:
            type: string
        - description: Códigos ISIN
          in: query
          name: isins
          schema:
            type: string
        - description: Canales
          in: query
          name: channels
          schema:
            type: string
        - description: Temas
          in: query
          name: topics
          schema:
            type: string
        - description: Autores
          in: query
          name: authors
          schema:
            type: string
        - description: Tipos de contenido
          in: query
          name: contentTypes
          schema:
            type: string
        - description: Ordenar
          in: query
          name: sort
          schema:
            type: string
        - description: Fecha
          in: query
          name: date
          schema:
            type: string
            format: date
        - description: Publicado desde
          in: query
          name: publishedSince
          schema:
            type: string
        - description: Actualizado desde
          in: query
          name: updatedSince
          schema:
            type: string
        - description: Fecha de inicio
          in: query
          name: dateFrom
          schema:
            type: string
        - description: Fecha hasta
          in: query
          name: dateTo
          schema:
            type: string
        - description: Tamaño de página
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Página
          in: query
          name: page
          schema:
            type: integer
        - description: Último ID
          in: query
          name: lastID
          schema:
            type: string
        - description: Salida en pantalla
          in: query
          name: displayOutput
          schema:
            type: string
        - description: Ruido
          in: query
          name: noise
          schema:
            type: string
        - description: Formato
          in: query
          name: format
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/api.NewsItem"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/api.NewsItem"
                type: array
        "400":
          description: Parámetros de consulta no válidos o faltantes
          content:
            application/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        "499":
          description: Contexto de la solicitud cancelado
          content:
            application/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        "500":
          description: Error interno
          content:
            application/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
      security:
        - ApiKeyAuth: []
      summary: Obtener noticias
      tags:
        - News
  /api/v2/news/removed:
    get:
      description: Obtener noticias eliminadas
      operationId: get-removed-news
      parameters:
        - description: Actualizado desde
          in: query
          name: updatedSince
          schema:
            type: string
        - description: Tamaño de página
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Página
          in: query
          name: page
          schema:
            type: integer
      responses:
        "200":
          description: Aceptar
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/api.NewsRemovedItem"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/api.NewsRemovedItem"
                type: array
        "400":
          description: Parámetros de consulta inválidos o faltantes
          content:
            application/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        "499":
          description: Contexto de solicitud cancelado
          content:
            application/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        "500":
          description: Error interno
          content:
            application/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
      security:
        - ApiKeyAuth: []
      summary: Obtener noticias eliminadas
      tags:
        - News
components:
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: token
      type: apiKey
  schemas:
    api.ChannelTag:
      properties:
        name:
          type: string
      type: object
    api.Image:
      properties:
        size:
          type: string
        url:
          type: string
      type: object
    api.NewsItem:
      properties:
        author:
          type: string
        body:
          type: string
        channels:
          items:
            $ref: "#/components/schemas/api.ChannelTag"
          type: array
        created:
          type: string
        id:
          type: integer
        image:
          items:
            $ref: "#/components/schemas/api.Image"
          type: array
        original_id:
          type: integer
        stocks:
          items:
            $ref: "#/components/schemas/api.Stock"
          type: array
        tags:
          items:
            $ref: "#/components/schemas/api.ChannelTag"
          type: array
        teaser:
          type: string
        title:
          type: string
        updated:
          type: string
        url:
          type: string
      type: object
    api.NewsRemovedItem:
      properties:
        id:
          type: integer
        updated:
          type: string
      type: object
    api.Stock:
      properties:
        cusip:
          type: string
        isin:
          type: string
        name:
          type: string
      type: object
servers:
  - url: https://api.benzinga.com/api/v2
    description: V2
  - url: https://api.benzinga.com/api/v2.1
    description: V2.1
