openapi: 3.0.0
info:
  contact: {}
  description: Prueba la entrega del webhook para verificar que tu integración
    funciona correctamente
  title: Webhook API
  version: 1.0.0
servers:
  - url: https://api.benzinga.com
paths:
  /api/v1/webhook/test:
    get:
      summary: Probar la entrega del webhook
      description: Este endpoint enviará datos de prueba a tu webhook para que puedas
        verificar tu integración
      operationId: get-webhook-test
      parameters:
        - name: destination
          in: query
          required: true
          description: La URL del endpoint de webhook al que se enviarán los datos de prueba
          schema:
            type: string
            format: uri
          example: https://your-endpoint.com/webhook
        - name: version
          in: query
          required: true
          description: Versión de la API, actualmente webhook/v1
          schema:
            type: string
            enum:
              - webhook/v1
            default: webhook/v1
        - name: kind
          in: query
          required: true
          description: "Identifica el kind del mensaje. Actualmente: News/v1"
          schema:
            type: string
            enum:
              - News/v1
            default: News/v1
        - name: token
          in: query
          required: false
          description: Indique el token para transformar los datos para su uso en producción
          schema:
            type: string
      responses:
        "200":
          description: Éxito - La entrega de prueba del webhook se envió correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
        "400":
          description: "Solicitud no válida: consulta el cuerpo de la respuesta para
            obtener más detalles"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid destination URL
        "424":
          description: "Error de entrega: el sistema encontró un problema al entregar la
            carga de prueba"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to deliver test payload to destination
        "500":
          description: Error interno del servidor
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
      security:
        - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Key
      description: Tu clave de la API de Benzinga
