openapi: 3.0.0
info:
  contact: {}
  description: 이 REST API는 애널리스트 리포트의 상세 정보를 조회할 수 있는 엔드포인트를 제공합니다.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text API
  version: 1.0.0
paths:
  /analyst/reports/raw-text:
    get:
      description: 전문 애널리스트 리서치 리포트의 원문 텍스트 내용을 가져옵니다. 금융 기관이 제공하는 전문 애널리스트 리포트 전문,
        리서치 노트, 투자 의견을 반환합니다. 리포트 메타데이터, 투자의견 등급 변경, 목표가, 상세 분석을 포함합니다. 기관 리서치와
        애널리스트 심리를 파악하기 위한 핵심 데이터입니다.
      operationId: get-analyst-reports-raw-text-data
      parameters:
        - description: "페이지네이션에 사용할 페이지 번호입니다. 0부터 시작하는 인덱스입니다(0 = 첫 번째 페이지, 1 = 두 번째 페이지
            등). 기본값: 0"
          in: query
          name: page
          schema:
            type: integer
        - description: "페이지당 반환할 결과 수입니다. 기본값: 100. 최대값: 100. 가장 최근 보고서가 먼저 반환됩니다."
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        "200":
          description: 전체 텍스트 본문과 메타데이터가 포함된 애널리스트 리포트 배열
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.AnalystReportRawText"
                type: array
        "400":
          description: 잘못된 요청 - 잘못된 매개변수
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        "500":
          description: 내부 서버 오류
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: 애널리스트 리서치 리포트
      tags:
        - Analyst Reports
components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
  schemas:
    models.AnalystReportRawText:
      properties:
        date:
          type: string
        exchange:
          type: string
        extracted_paragraphs:
          items:
            type: string
          type: array
        firm_id:
          type: string
        id:
          type: string
        ticker:
          type: string
      type: object
servers:
  - url: https://api.benzinga.com
    description: 운영 환경
