openapi: 3.0.0
info:
  contact: {}
  description: 이 REST API는 애널리스트 리서치 리포트 세부 정보를 가져오기 위한 엔드포인트를 제공합니다.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text API
  version: 1.0.0
paths:
  /analyst/reports/raw-text:
    get:
      description: 애널리스트 리서치 리포트 전문 텍스트의 content를 조회합니다. 금융기관에서 발행한 전체 텍스트 애널리스트 리포트,
        리서치 노트, 투자 의견을 반환합니다. 리포트 메타데이터, 등급 변경, 목표가, 상세 분석이 포함됩니다. 기관 리서치와 애널리스트
        심리를 파악하기 위한 핵심 데이터입니다.
      operationId: get-analyst-reports-raw-text-data
      parameters:
        - description: "페이지네이션에 사용되는 페이지 번호입니다. 0부터 시작합니다(0 = 첫 페이지, 1 = 두 번째 페이지 등). 기본값:
            0"
          in: query
          name: page
          schema:
            type: integer
        - description: 페이지당 반환할 결과 수입니다. 기본값은 100, 최대값도 100입니다. 최신 리포트가 먼저 반환됩니다.
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        "200":
          description: 전체 텍스트 content와 메타데이터가 포함된 애널리스트 리포트 배열입니다.
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.AnalystReportRawText"
                type: array
        "400":
          description: 잘못된 요청입니다. 매개변수가 유효하지 않습니다.
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        "500":
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: 애널리스트 리서치 리포트
      tags:
        - Analyst Reports
components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
  schemas:
    models.AnalystReportRawText:
      properties:
        date:
          example: 2024-01-09
          type: string
        exchange:
          example: NASDAQ
          type: string
        extracted_paragraphs:
          items:
            type: string
          type: array
        firm_id:
          example: GS-12345
          type: string
        id:
          example: 507f1f77bcf86cd799439011
          type: string
        ticker:
          example: AAPL
          type: string
      type: object
servers:
  - url: https://api.benzinga.com
    description: PROD
