openapi: 3.0.0
info:
  contact: {}
  description: このREST APIは、アナリストレポートの詳細を取得するためのエンドポイントを提供します。
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text API
  version: 1.0.0
paths:
  /analyst/reports/raw-text:
    get:
      description: アナリストレポートのテキスト生データを取得
      operationId: get-analyst-reports-raw-text-data
      parameters:
        - description: ページネーション用のページ番号。0から始まります。
          in: query
          name: page
          schema:
            type: integer
        - description: "1ページあたりの結果数。デフォルト値: 100。最大値: 100"
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.AnalystReportRawText"
                type: array
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        "500":
          description: 内部サーバーエラー
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: アナリストレポートの未加工テキストデータを取得
      tags:
        - Analyst Reports Raw Text
components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
  schemas:
    models.AnalystReportRawText:
      properties:
        date:
          type: string
        exchange:
          type: string
        extracted_paragraphs:
          items:
            type: string
          type: array
        firm_id:
          type: string
        id:
          type: string
        ticker:
          type: string
      type: object
servers:
  - url: https://api.benzinga.com
    description: デフォルト
