openapi: 3.0.0
info:
  contact: {}
  description: この REST API では、決算説明会のトランスクリプトを検索したり、その詳細を取得したりするためのエンドポイントを提供します。
  termsOfService: http://swagger.io/terms/
  title: Earnings Call Transcripts API
  version: 1.0.0
paths:
  /api/v1/earnings-call-transcripts:
    get:
      description: 決算説明会の書き起こしを取得
      operationId: get-earnings-call-transcripts
      parameters:
        - description: 決算説明会トランスクリプトを絞り込むための株式tickerシンボルのカンマ区切りリスト
          in: query
          name: tickers
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: 取得する特定のコールIDのカンマ区切りリスト
          in: query
          name: call_id
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: ページネーション用のページ番号。0始まり（ゼロ基準）です。
          in: query
          name: page
          schema:
            type: integer
        - description: "1ページあたりの結果数。デフォルト値: 5、最大値: 1000"
          in: query
          name: pagesize
          schema:
            type: integer
        - description: YYYY-MM-DD 形式の開始日。この日付以降のトランスクリプトを返します。
          in: query
          name: date_from
          schema:
            type: string
        - description: 終了日を YYYY-MM-DD 形式で指定します。この日付を含むそれ以前のトランスクリプトを返します。
          in: query
          name: date_to
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.TranscriptSummary"
                type: array
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        "500":
          description: 内部サーバーエラー
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: 決算説明会の書き起こしを取得
      tags:
        - Earnings Call Transcripts
  /api/v1/earnings-call-transcripts/audio:
    get:
      description: 決算説明会トランスクリプトの音声ファイルを取得する
      operationId: get-earnings-call-transcript-audio-files
      parameters:
        - description: 音声ファイルを絞り込むための株式tickerシンボルのカンマ区切りリスト
          in: query
          name: tickers
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: 音声ファイルを取得する対象の特定のコールIDをカンマ区切りで指定したリスト
          in: query
          name: call_id
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: ページネーションのページ番号。0始まり（ゼロインデックス）です。
          in: query
          name: page
          schema:
            type: integer
        - description: "1ページあたりの結果数。デフォルト: 5。最大: 1000"
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.TranscriptSummaryAudio"
                type: array
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        "500":
          description: サーバ内部エラー
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: 決算説明会の書き起こし音声ファイルを取得
      tags:
        - Earnings Call Transcripts
components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
  schemas:
    models.Security:
      properties:
        cik:
          type: string
        company_name:
          type: string
        exchange:
          type: string
        isin:
          type: string
        ticker:
          type: string
      type: object
    models.Summary:
      properties:
        summary:
          type: string
        time:
          type: number
      type: object
    models.TranscriptAudioFile:
      properties:
        file_url:
          type: string
      type: object
    models.TranscriptSummary:
      properties:
        call_id:
          type: string
        created:
          type: integer
        date:
          type: string
        id:
          type: string
        reviewed:
          type: boolean
        security:
          $ref: "#/components/schemas/models.Security"
        start_time:
          type: string
        summaries:
          items:
            $ref: "#/components/schemas/models.Summary"
          type: array
        summary_full:
          type: string
        title:
          type: string
        transcript_full:
          type: string
        transcript_timestamped:
          items:
            $ref: "#/components/schemas/models.TranscriptTimestamp"
          type: array
        updated:
          type: integer
        user_id:
          type: integer
      type: object
    models.TranscriptSummaryAudio:
      properties:
        audio_file:
          $ref: "#/components/schemas/models.TranscriptAudioFile"
        call_id:
          type: string
        created:
          type: integer
        date:
          type: string
        id:
          type: string
        security:
          $ref: "#/components/schemas/models.Security"
        start_time:
          type: string
        updated:
          type: integer
      type: object
    models.TranscriptTimestamp:
      properties:
        time:
          type: number
        transcript:
          type: string
      type: object
servers:
  - url: https://api.benzinga.com/api/v1
    description: V1
