openapi: 3.0.0
info:
  contact: {}
  description: توفر واجهة برمجة تطبيقات REST هذه نقاط نهاية لجلب تفاصيل تقارير
    أبحاث المحللين.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text API
  version: 1.0.0
paths:
  /analyst/reports/raw-text:
    get:
      description: تسترجع النص الخام لتقارير أبحاث المحللين المحترفين. تُعيد تقارير
        محللين كاملة النص، ومذكرات بحثية، وتوصيات استثمارية صادرة عن مؤسسات
        مالية. تتضمن بيانات وصفية للتقرير، وتغييرات في التقييم، وأهدافًا سعرية،
        وتحليلات تفصيلية. تُعد ضرورية للوصول إلى أبحاث المؤسسات وقياس توجهات
        المحللين.
      operationId: get-analyst-reports-raw-text-data
      parameters:
        - description: "رقم الصفحة لأغراض التجزئة (الترقيم). يبدأ العد من الصفر (0 =
            الصفحة الأولى، 1 = الصفحة الثانية، وهكذا). القيمة الافتراضية: 0"
          in: query
          name: page
          schema:
            type: integer
        - description: "عدد النتائج في الصفحة الواحدة. القيمة الافتراضية: 100. الحد
            الأقصى: 100. تُرجَع أحدث التقارير أولًا."
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        "200":
          description: مصفوفة من تقارير المحللين تحتوي على النص الكامل وبيانات التعريف.
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.AnalystReportRawText"
                type: array
        "400":
          description: طلب غير صالح - معلمات غير صحيحة
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        "500":
          description: خطأ خادم داخلي
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: تقارير أبحاث المحللين
      tags:
        - Analyst Reports
components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
  schemas:
    models.AnalystReportRawText:
      properties:
        date:
          example: 2024-01-09
          type: string
        exchange:
          example: NASDAQ
          type: string
        extracted_paragraphs:
          items:
            type: string
          type: array
        firm_id:
          example: GS-12345
          type: string
        id:
          example: 507f1f77bcf86cd799439011
          type: string
        ticker:
          example: AAPL
          type: string
      type: object
servers:
  - url: https://api.benzinga.com
    description: PROD
