openapi: 3.0.0
info:
  contact: {}
  description: Esta API REST ofrece endpoints para obtener detalles de informes de analistas.
  termsOfService: http://swagger.io/terms/
  title: API de texto sin procesar de informes de analistas
  version: 1.0.0
paths:
  /analyst/reports/raw-text:
    get:
      description: Obtener datos de texto sin procesar de informes de analistas
      operationId: get-analyst-reports-raw-text-data
      parameters:
        - description: Número de página para la paginación (basado en cero).
          in: query
          name: page
          schema:
            type: integer
        - description: 'Número de resultados por página. Predeterminado: 100. Máximo: 100'
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/models.AnalystReportRawText'
                type: array
        '400':
          description: Solicitud no válida
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: Obtener datos de texto sin procesar de informes de analistas
      tags:
        - Analyst Reports Raw Text
components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
  schemas:
    models.AnalystReportRawText:
      properties:
        date:
          type: string
        exchange:
          type: string
        extracted_paragraphs:
          items:
            type: string
          type: array
        firm_id:
          type: string
        id:
          type: string
        ticker:
          type: string
      type: object
servers:
  - url: https://api.benzinga.com
    description: Por defecto
